.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: rgba(0, 0, 0, 0.2);  */
  }
  
  svg {
    width: 100px;  /* Adjust the size */
    height: 100px;
  }
  